.helper
    height auto
    width auto
    position fixed
    bottom 0px
    left 100%
    min-width 100px
    & .helper-message
        height 60px
        padding 0 30px
        margin 0px
        margin-bottom 10px
        background black
        color white
    & h2
        overflow hidden
        white-space nowrap
        display block
        line-height 60px