
//
// Typographic
//

presets(minor-second)

html
  font-family 'Open Sans', sans-serif
  font-size 12px
  @media (min-width 600px)
    font-size 14px
  @media (min-width 800px)
    font-size 16px
  @media (min-width 1000px)
    font-size 18px

t-headers('Open Sans')

//
// Other
//

*
  margin 0
  padding 0
  box-sizing border-box
  position relative


body, html
  margin 0
  padding 0
  width 100%
  height 100%
  position relative
  background #222

/* apply a natural box layout model to all elements, but allowing components to change */
html
  box-sizing border-box
  overflow auto

*, *:before, *:after
  box-sizing inherit

ul
  margin 0px

a
  text-decoration none
  color black


.clear:after
  content ''
  display block
  clear both

.cursor
  cursor pointer

hr
  border 0
  height 1px
  background #333
  width 150px
  margin 0 auto


.wrapper 
  transition all .3s ease-in-out
  position absolute
  z-index 97
  top 100px
  left 0
  margin auto
  width 100%
  height calc( 100% - 200px )
  
.js .if-nojs 
  display none !important
  height 0
  width 0
  overflow hidden
.no-js .if-nojs
  padding 15px
  h4
    padding 30px 15px
    background white
    border 2px solid red
    & strong
      color rgb(244, 78, 78)
      &:hover
        text-decoration underline
      


.editing 
  .wrapper
    top 10px
    height 70px
    left 10px
    width calc( 100% - 20px )
    overflow hidden
  .content
    width 100%
    border-bottom 8px solid rgb(244, 78, 78)

.content
  transition width 0.3s ease-in-out, border-bottom 0.3s ease-in-out
  position relative
  background #222
  margin 0 auto
  width 480px
  max-height 852px
  height 100%
  box-shadow 10px 10px 35px -15px rgba(0,0,0,0.75)
  border-bottom 0px solid transparent
  overflow hidden
  
#view
  width 100%
  height calc( 100% - 70px )

.mast-head
  background rgb(244, 78, 78)
  height 70px
  right 0
  z-index 99
  color #222
  .mast-core
    position relative
    margin 0 auto
    height 100%
    width calc( 100% - 30px )
    .mast-pfeed
      position absolute
      z-index 2
      top 5px
      left 0px
      width auto
      height calc( 100% - 10px )
      .mast-logo
        float left
        width auto
        height 60px
        img
          height 100%
          margin-right 10px
      .mast-info
        float left
        .site-title
          text-transform uppercase
          margin-top 10px
          -webkit-font-smoothing antialiased
          font-weight bold!important
          font-weight 700
          line-height 1
          font-size 14px
          margin-bottom 4px
        .site-description
          font-size 10px
          font-weight 700
          -webkit-font-smoothing antialiased
          font-weight bold!important
      &::after
        display block
        content ''
        clear both
    .feed-title
      position absolute
      width 100%
      height 100%
      text-align center
      z-index 1
      h1
        line-height 70px
  .mast-admin
    z-index 2
    position absolute
    right 0px
    top 0px



.static-content
  width 100%
  height 100%
  overflow-y auto
  overflow-x hidden
  color white