@media (max-width: 880px)

    .module
        width calc( 100% - 10px ) !important
        left 5px !important
        margin 0px !important
    .site-title, .site-description
        display none
        
@media (max-width: 500px)
  body:not(.editing) .wrapper 
    height 100% !important
    width 100% !important
    top 0px !important
  
	  & .content
	    max-height 100% !important
	    max-width 100% !important
	    width 100%!important
  

@media (max-height: 700px)
  body:not(.editing) .wrapper 
    top 0px !important
    height 100% !important