

            

.thread-form
    cursor pointer
    position relative
    min-height 120px
    padding 0px
    & h1
        padding-bottom 10px
        padding-right 60px
    & .delete
        cursor pointer
        position absolute
        top 0px
        right 0px
        & h6
            line-height 20px
            margin-bottom 0px
            
    & .tform-label
        height 50px
        line-height 50px
        width 100%
        & .increment
            position absolute
            top 0
            left 0
            width 150px
            padding-left 5px
            height 100%
            border-right 1px solid #333
            
    & .tform-inset
        width calc( 100% - 20px )
        padding 5px
        margin-left 20px
        background rgba(0,0,0,.02)
        & .tform-inset-btn
            background #333
            color #eee
            padding 3px 7px
            border-radius 3px

                
    & .text
        border-bottom 1px solid #333
    
    & .choices
        border-bottom 1px solid #333
        & .choice
            & .alternative
                width calc( 100% - 150px )
                float left
            & .go-to
                width 150px
                float left
                min-height 30px
                line-height 30px
                padding-left 5px
            & .remove-choice
                position absolute
                top 0px
                right 0px
