
.thread-new
    position relative
    & .thread-toggle
        cursor pointer
        height 120px
        padding 40px
        & img
            float left
            margin-right 20px
        & .text-new
            float left
            text-transform uppercase
            -webkit-font-smoothing antialiased
            font-weight bold!important
            font-weight 700
            line-height 40px
            font-size 14px
        &::after
            display block
            content ''
            clear both
    & .thread-form
        opacity 1
        & button
            margin-top 10px
            

.thread-form
    cursor pointer
    position relative
    min-height 120px
    padding 0px
    & h1
        padding-bottom 10px
        padding-right 60px
    &:hover
        background #f5f5f5
    & .delete
        cursor pointer
        position absolute
        top 0px
        right 0px
        & h6
            line-height 20px
            margin-bottom 0px
            
    & .tform-label
        height 50px
        line-height 50px
        width 100%
        & .increment
            position absolute
            top 0
            left 0
            width 150px
            padding-left 5px
            height 100%
            border-right 1px solid #333
            
    & .tform-inset
        width calc( 100% - 20px )
        padding 5px
        margin-left 20px
        background rgba(0,0,0,.02)
        & .tform-inset-btn
            background #333
            color #eee
            padding 3px 7px
            border-radius 3px

                
    & .text
        border-bottom 1px solid #333
    
    & .choices
        border-bottom 1px solid #333
        & .choice
            & .alternative
                width calc( 100% - 150px )
                float left
            & .go-to
                border-left 1px solid #333
                width 150px
                float left
                min-height 30px
                line-height 30px
                padding-left 5px
            & .remove-choice
                position absolute
                top 0px
                right 0px
                background red
                width 10px
                height 10px
